body {
	background-image: url("./pizza.png");
	background-position: top;
	background-attachment: fixed;
	text-align: center;
	padding-bottom: 200px;
}

.list {
	background: rgba(164, 207, 222, .6);
	border-radius: 15%;
	width: 250px;
	font-weight: bold;
}

.title {
	background: rgba(164, 207, 222, .6);
	border-radius: 15%;
	width: 250px;
	text-decoration: underline;
	text-align: center;
	font-weight: bold;
}
.heading {
	text-align: Center;
	text-decoration: underline;
	background: rgba(164, 207, 222, .6);	
}

.container1 {
	position: absolute;
}

.container2 {
	position: absolute;
	right: 0;
}


.veggies {
	margin: auto;
	width: 250px;
}

.size {
	margin: auto;
	width: 250px;
	text-align: center;
	position: relative;
}

#orderpopup {
	background: rgba(164, 207, 222, .7);
	border-radius: 15%;
	width: 400px;
	position: relative;
	margin: auto;
	opacity: 0;	
}

button {
	color: white;
	border: none;
	background-color: #79cf70;
	padding: 15px 32px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
}

.C, .order {
	display: inline-block;
}
















