body {
	background-image: url("./pizza.png");
	background-position: top;
	background-attachment: fixed;
	text-align: center;
	padding-bottom: 600px;
}

.list {
	background: rgba(164, 207, 222, .5);
	border-radius: 15%;
	width: 250px;
	font-weight: bold;
}

.title {
	background: rgba(164, 207, 222, .5);
	border-radius: 15%;
	width: 250px;
	text-decoration: underline;
	text-align: center;
	font-weight: bold;
}
.heading {
	text-align: Center;
	text-decoration: underline;
	background: rgba(164, 207, 222, .5);	
}

.container1 {
	position: absolute;
}

.container2 {
	position: absolute;
	right: 0;
}


.veggies {
	margin: auto;
	width: 250px;
}

.size {
	margin: auto;
	width: 250px;
	text-align: center;
	position: relative;
}

.orderpopup {
	background: rgba(164, 207, 222, 1);
	border-radius: 15%;
	width: 400px;
	position: fixed;
	bottom: 10%;
	left: 25%;
	opacity: 0;
	
}


















